[submodule "veldrid"]
	path = submodules/veldrid
	url = https://github.com/TechPizzaDev/veldrid
[submodule "LoudPizza"]
	path = submodules/LoudPizza
	url = https://github.com/TechPizzaDev/LoudPizza
[submodule "submodules/SharpFastNoise2"]
	path = submodules/SharpFastNoise2
	url = https://github.com/TechPizzaDev/SharpFastNoise2
[submodule "submodules/LoudPizza"]
	path = submodules/LoudPizza
	url = https://github.com/TechPizzaDev/LoudPizza
